@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans:
    "Rubik", "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme {
  --color-main: #0050ad;
  --color-muted: #4a5565;
  --color-dark: #1e1e1e;
  --spacing-section: 90px;
}

.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.shine {
  pointer-events: none;
}

.group:hover .shine {
  animation: shine-move 0.8s;
}

.shine::before {
  content: "";
  position: absolute;
  bottom: -150%;
  left: -100%;
  width: 1px;
  height: 400%;
  transform: rotate(-30deg);
  box-shadow: 0 0 30px 20px rgba(255, 255, 255, 0.5);
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.link-shine {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.link-shine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.8s;
}

.link-shine:hover::before {
  left: 125%;
}

@keyframes shine-move {
  0% {
    transform: translate(-150%, 150%);
  }
  100% {
    transform: translate(150%, -150%);
  }
}
